---

import Table from '../components/table'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-zinc-800 text-white font-sans text-xl">
		<section class="py-12">
			<div class="container">
				<Table></Table>
			</div>
		</section>
	</body>
</html>
